<div class="header">
    <div class="header-img">
       <%=render 'svg1'%>
    </div>
    <div class="header-text">
      <h1>Everyday Journal app</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nisi placeat odio beatae maiores aliquid unde dignissimos quo, fugiat velit atque totam, soluta eum nam ducimus illum ipsum dolores? Cum.</p>
      <%= link_to 'Start now', signup_path, class:'btn-hover color-11' %>
    </div>
</div>

