// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'bootstrap/dist/css/bootstrap';

.categories > :not(:last-child){
        margin-right: 2rem;
    }
.categories{
    :hover{
        color: rgb(207, 207, 207) !important;
    }
}
.categories-container{
    flex-wrap: wrap !important;
}

    
.category{
    &-links{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    &-link{
        cursor: pointer;
        text-decoration: none;
        height: max-content;
        margin: 0 !important;
    }
    &-task-num{
        color: #ff1c1c;
        font-weight: 600;
    }
    &-card{
        min-width: 250px !important;
        min-height: 250px !important;
        max-width: 250px !important;
        border-radius: 5px;
        box-shadow: 3px 3px 10px  rgba(0,0,0,0.65);
        box-sizing: border-box;
        padding: 2%;
        text-decoration: none !important;
        position: relative;
        transition: all .2s ease-in-out;
        margin-top: 2rem;
         &-title{
             font-family: 'Montserrat', sans-serif;
             letter-spacing: 0px;
             font-size: 2.8rem;
            font-weight: 700;
             color: #353535;

        }
        &-text{
            font-size: 1.4rem !important;
            color: rgb(54, 54, 54) !important;
            font-weight: 500;

        }
        

    }
    &-card:hover{
        box-shadow: 5px 5px 20px  rgba(0,0,0,0.5);
        transform: translateY(-5px);
    }
}
.create-category{
    width: 250px;
    box-sizing: border-box;
    border: 3px white dashed;
    text-decoration: none;
    color: white;
    font-size: 2.8rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 3%;
    border-radius: 20px;
    margin-top: 2rem;
  
}

.clipboard{
    min-width: 90%;
    min-height: 80vw;
    max-height: max-content;
    margin: 70px auto;
    border-radius: 30px;
    position: relative;
    padding-top: 3%;
    padding-bottom: 3%;
    box-shadow: 8px 8px 0px 1px rgba(190, 190, 190, 0.75) !important;
    border: 2px solid black;
    &-paper{
        background: #fcfcfc;
        min-height: 80vw;
        width: 90%;
        margin: auto;
        padding-top: 3%;
        color: black;
        border-radius: 10px;
        box-shadow: 5px 5px 0px 1px rgba(0,0,0,0.75);
        border: 2px solid black;
    }
}
#add-category{
    font-size: 9rem;
    display: inline;

}
#img_clip{
    position: absolute;
    top: -8%;
    left: 50%;
    transform: translateX(-50%);
    height: 12.5vw;
    z-index: 1;


}
#category-description{
    color: rgb(56, 56, 56) !important;
    font-weight: 600;
}
#task-name{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    box-sizing: border-box !important;
    margin-bottom: 0.5rem !important;
}
.sort{
    &-text{
       white-space: nowrap;
       margin-bottom: 0 !important;
       margin-right: 1rem;
    }
    &-container{
        align-items: center;
        margin-left: 2%;
        background-color: rgb(255, 255, 255);
        border: 2px black solid;
        padding: 1rem 2rem;
        border-radius: 5px;
        box-shadow: 8px 8px 0px 1px rgba(190, 190, 190, 0.75) !important;

    }
}
.form-select_sort{
    font-size: 1.4rem !important;
}
.task-body{
    padding: 1.5rem 2rem 1.5rem !important;
}
.task-due_date{
    margin-bottom: 0px !important;
    font-weight: 600;
}
.progress-container{
    background-color: rgb(253, 253, 253);
    padding: 1.5rem 3rem 0 2rem;
    width: 80% !important;
    margin:auto;
    margin-top: 1rem;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 5px 5px 0px 1px rgba(0,0,0,0.75);
    box-sizing: border-box;
}
.progress{
    height: 1.5rem !important;
    border-radius: 1rem !important;
    background-color: rgba(0, 0, 0, 0.301) !important;
}
.progress-bar-container{
    width: 85%;
}
.btn-task{
    font-size: 1.4rem !important;
}
.btn-success{
    &:hover{
        background-color: white !important;
    }
}
.btn-checkbox{
    width: 40px !important;
    height: 40px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.btn-checkbox.btn-checkbox-dashboard{
    width: 61px !important;
    height: 61px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.check{
    vertical-align: middle;
    color: white !important;
    font-size: 3rem;
    margin: auto;
    
}
.category-details{
    width: max-content;
    margin: auto;
}

.create-img{
    height: 30vw;
}
#freepik_stories-new-entries{
    height: 100%;
}


//sign up form

#signup-page{
    margin-top: 8%;
}

.form-input{
    font-size: 1.4rem !important;
    background-color:rgba(255, 255, 255, 0.212) !important;
    color: white !important;
    font-size: 1.5rem !important;
    font-weight: 600 !important;
    letter-spacing: 1px !important;

}
::placeholder{
    color: white !important;
    opacity: 1 !important;
}
#form-description{
    min-height: 200px;
}
.btn-emboss{

    box-shadow: 5px 5px 0px 1px rgba(0,0,0,0.75);
    position: relative;
    transition: all 0.2s ease-in-out;
    &:hover{
        transform: translateY(-2px);
        box-shadow: 7px 7px 0px 1px rgba(0,0,0,0.75);
    }
    &:focus{
        transform: translateY(0px) !important;
        box-shadow: 3px 3px 0px 1px rgba(0,0,0,0.75) !important;
    }

}
.btn-green{
    color: white !important;
    background-color: green !important;
    border:2px solid green !important;
}
.btn-red{
    color: white !important;
    background-color: red !important;
    border:2px solid red !important;
}
.badge{
    font-size: 1rem !important;
}
.task-name-container >:not(:last-child) {
    margin-right: 1rem;
}
.dashboard-header{
    position: relative;
    width: 100%;
    min-height: 120px;
    margin-top: 4.5rem;
}
.welcome-container{
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding: 1% 3%;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 700 !important;
    text-transform: none !important;
    border-radius: 10px;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    box-shadow: 5px 5px 0px 1px rgba(0,0,0,0.75);
    border: 3px solid black;
}
.welcome-container.active-sel{
    z-index: 100;
}
.main-dashboard{
    margin-top: 5rem !important;
    position: relative;
    min-height: 700px !important;
    width: 100%;
}
.dashboard{
    height: 100%;
    width: 100%;
    position: absolute;
}
.dashboard-head{
    width: 50%;
    height: 45px;
    background-color: white;
    border-radius: 10px 10px 0 0;
    box-shadow: 5px 5px 0px 2px rgba(0,0,0,0.75);
    position: relative;
    box-sizing: border-box;
    padding: 1% 5% !important;
}
.dashboard-tasks{
    min-height: 650px;
    width: 100%;
    position: relative;
    box-shadow: 5px 5px 0px 2px rgba(0,0,0,0.75);
    box-sizing: border-box;
    padding: 4% 0% 3% 0%;
    display: none;
  
}
.dashboard-tasks.active-sel{
    z-index: 100;
}
.dashboard-head.active-sel{
    display: inline-block;
    z-index: 100;
}
#today-task-container{
    background-color: white !important;
    border-radius: 0px 10px 10px 10px;
    
}
#today-task-head{
    z-index: 50;
}

#all-task-container{
    background-color: #ffa9a9;
    border-radius: 10px 0px 10px 10px;
}
#all-task-head{
    background-color: #ffa9a9;
    margin-left: auto;
    color: white !important;

}
.mt-big{
    margin-top: 9rem !important;
}

.sort-text-dashboard{
    color: black !important;
}