@import 'bootstrap/dist/css/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font-body: 'Hind', sans-serif;
$font-heading:  'Montserrat', sans-serif;

html{
    min-height: 100vh;
    height: max-content;
    font-size: 62.5%;
}
body{
    min-height: 100vh;
    height: max-content;
    background-color: #393e46;
    color: white;
    font-family: $font-body;
    font-size: 1.4rem;
    
}
*,
a::before,
a::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

.heading{
    &-primary{
        font-family: $font-heading ;
        font-weight: 700;
        color: #ffffff;
        &-h1{
            font-size: 5rem;
        }
        &-h3{
            a{
                color: #c53f3f;
                text-decoration: none;
            }
        }
        &-h2{
            text-transform: none !important;
        }
    }
}
.section{
    padding: 3% 0 7%;
}

.rainbow { 
  position: relative;
  width: 100%;
  z-index: 1;
  background: linear-gradient(-45deg, #ee7752, #be3268, #1e87ad, #20b693);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}  
  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  .svg-home{
      margin-top: -4%;
  }
  .navbar{
      background-color: transparent !important;
        position: relative;
        top: 0%;
        justify-content: space-between !important;
        width: 90vw;
        margin: auto;
        z-index: 5000;
    }
    
.navbar-brand-logo{
    text-decoration: none;
    color: white !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 800 !important;
    font-size: 30px !important;
   
}
.navbar-nav{
    margin-left: auto;
    margin-right: 0px !important;
   
}
.navbar-nav>:not(:last-child){
    margin-right: 2rem;
}
.nav-link{
    &-white{
        color: white !important;
        font-size: 1.6rem !important;
        font-weight: 500 !important;
        font-family: $font-heading;
    }
}

.icon{
    margin-right: 3px;
}

.footer{
    position: relative;
    background: rgb(49, 49, 49);
    width: 100%;
    padding: 1rem 0rem;
}
.div-container{
    min-height: 80vh;
    padding: 3% 0 !important;
}
.btn-start{
    font-size: 1.8rem;
    font-weight: 600;
    padding: 2rem 3rem !important;
}
.page-header{
    margin-top: 2rem;
    margin-bottom: 3rem;
    line-height: 0;
    padding: 1rem 0;
    border-radius: 20px;
    background: linear-gradient(-45deg, #ee7752, #be3268, #1e87ad, #20b693);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}


//flash message

.flash{
    position: absolute !important;
    top: 5 !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: 25% !important;
    z-index: 5000;
    padding: 2% 1%;
    box-shadow: 5px 5px 0px 1px rgba(44, 44, 44, 0.75);
    font-weight: 600 !important;
    font-family: $font-heading !important;
    text-align: center;
}
.error-messages{
    position: absolute;
    top: 10%;
    z-index: 5000;
    width: 50%;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
}