// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.header{
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin: auto;
    justify-content: space-around;
    position: relative;
    margin-top: -13%;
    flex-wrap: wrap;
    align-items: center;
    color: rgb(77, 77, 77);
    z-index: 5;
    padding-bottom: 3rem;
    &-img{
        min-width: 400px;
    }
    &-text{
        width: 500px;
    }
}
