// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.note{
    height: 200px;
    width: 200px;

}
.task{
    &-container{
        width: 80%;
        margin: auto;
        margin-top: 50px
    }
}
.btn-checkbox{
    border-width: 5px !important;
    margin-right: 10px !important;
}

.accordion-item{
    margin-bottom: 1rem !important;
}
.accordion-button{
    border: 1px solid gray;
}
.h4-heading{
    color: white !important;
    text-align: center;
    font-weight: 600;
}
#form-description-task{
    min-height: 140px !important;
}
#task-edit-new-page{
    margin-top: 5% !important;
}
#task-est-pomodoro{
    width: 5rem;
}
.link{
    width: max-content;
    &-items{
        list-style: none;
    }
}
.task-label{
    font-size: 1.2rem;
    font-weight: 600;

}

.timer{ 
    &-lists{
        list-style: none !important;
        justify-content: center;
        padding-left: 0 !important;
        &>:not(:last-child){
            margin-right: 5px !important;
        }
    }

    &-container{
        background-color: rgba(255, 255, 255, 0.1) !important;
        border-radius: 10px;
        text-align: center;
        width: 80%;
        margin: auto;
        padding: 3% 3% 6%;
    }
}

.btn-timer{
    
    color: white !important;
    background-color: rgba(255, 255, 255, 0.199) !important;
    &:hover{
        background-color: #393e46 !important;        
    }
}
.btn-timer.active-timer{
    background-color: #393e46 !important;
}
.option-container{
    text-align: center;

}

#timer-string{
    font-size: 7rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.btn-time{
    font-size: 3rem !important;
    color: #393e46 !important;
    background-color: white !important;
    font-weight: 600;
    padding: 1rem 3rem;
    margin-top: 2rem;
}
.task-status{
    font-weight: 800 !important;
}
.task-main-details{
    width: 85%;
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 10px;
    margin: auto;
    margin-top: 5rem;
    box-sizing: border-box;
    padding: 3% 7% !important;
    
}
.item-checkbox{
    padding: 3.75px 7.5px;
}
#task-links{
    padding-left: 0px !important;
    margin-left: -7.5px !important;
}

#task-description-container{
    background-color: rgba(255, 255, 255, 0.199) !important;
    padding: 5% 7% !important;
    max-width: inherit !important;    
    min-height: 87% !important;
    border-radius: 10px !important;
}

#form-comment{
    min-height: 50px;
    font-size: 1.2rem !important;
    margin-bottom: 0.5rem !important;
}
#btn-comment{
    font-size: 1rem !important;
    padding: 3px 1rem;
    width: max-content;
    
}
.updates{
    margin-top: 3rem;
    min-height: 230px;
    max-height: 230px;
    background-color: rgba(0, 0, 0, 0.568) !important;
    padding: 3% 3%;
    border-radius: 10px;
    overflow-y: scroll;
}
#task-update{
    background-color: rgba(255, 255, 255, 0.212) !important;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 1% 1.5%;
    margin-bottom: 1rem;
}

#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
	border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.568) !important;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
    background-color: rgba(0, 0, 0, 0.568) !important;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #c53f3f;
}