<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand-logo" href="#">Everyday</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <% if logged_in? %>
      <li class="nav-item dropdown mr-5">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-clipboard-list"></i> Category
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">View Profile</a></li>
            <li><a class="dropdown-item" href="#">Edit Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><%=link_to logout_path, method: :delete,class:"dropdown-item nav-link nav-link-white"  do%>
              <i class="fas fa-sign-out-alt"></i>Log out
              <%end%></li>
          </ul>
        </li>
          <li class="nav-item dropdown mr-5">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-user-circle"></i> Profile
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">View Profile</a></li>
              <li><a class="dropdown-item" href="#">Edit Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><%=link_to logout_path, method: :delete,class:"dropdown-item nav-link nav-link-white"  do%>
                <i class="fas fa-sign-out-alt"></i>Log out
                <%end%>
              </li>
          </ul>
        </li>
        <%else%>
        <li class="nav-item">
          <%=link_to signup_path,class:"nav-link nav-link-white"  do%>
            <i class="fas fa-user-plus icon"></i>Sign up
            <%end%>
          </li>
          <li class="nav-item">
          <%=link_to login_path,class:"nav-link nav-link-white"  do%>
            <i class="fas fa-sign-in-alt icon"></i> Sign in
            <%end%>
            
          </li>
            
      <%end%>
    </div>
  </div>
</nav>